@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    background-color: #f2f3ff !important;
    font-family: 'Lato', sans-serif !important;
}

.fit-content {
    width: fit-content;
}

.ant-layout {
    min-height: 100vh;
    height: 100%;
}
